#dropimage {
    width: 600px;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}


#map {
  width: 800px;
  height: 500px;
  margin: 0;
  padding: 0;
    
}

.title{
    color:red;
}


#hug-boxes{
  width: 200px;
  height: 200px;
  border: solid;
  color: grey;
  padding:50px;
  margin:25px;
}


.board{
  width: 600px;
  height: 600px;
  border: solid;
  color: grey;
}
/* ... */