<!DOCTYPE html>
<html>
<head>
    <title>Urban Tree Finder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="http://code.jquery.com/jquery.js"></script>
  
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Tree Finder SF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      {% if "user_id" in session %}
        <li class="nav-item">
          <a class="nav-link" href="/logout" id="logout-button" data-session={{session["user_id"]}} style="display:block">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard" id="dash-button" style="display:block">Dashboard</a>
        </li>
      {% else %}
        <li class="nav-item">
         <!--  <a class="nav-link" href="/login" id="login-button" data-toggle="modal" data-target="#exampleModalcenter">Login</a> -->
          <button id="login-button" type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">
            Login
            </button>

        </li>
      {% endif %}
    </ul>
  </div>
</nav>

{% for messages in get_flashed_messages() %}
    
<div class="alert alert-primary" role="alert">
   {{messages}}
</div>
{% endfor %}


<!--modal-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
  <div class="modal-body">
    <!-- Start Body -->

    <div id="login-error" style="display:none">
      <div class="alert alert-primary" role="alert" >
         User name or Password not entered. 
      </div>
    </div>

        <form action="/processlogin" method="POST" id="login_form">
            <label> Username
            <br>
            <input type="text" name="username" id="username" required></label>
            <br>
            <label> Password
            <br>
            <input type="password" name="password" id="password" required></label>
            <br>
            <input type="submit"  value="submit" id="login_submit" class="btn btn-light">
        </form>
          <p>
            New User?
            <a href="/register" id="register-here">Register Here</a>
          </p>

  <!-- End body -->
  </div>
         
</div>
</div>
</div>
</div>

<script> 
function showLogOut(){
    const logOut= document.querySelector('#logout-button');
    logOut.style.display='block';
}
function logInputs(){
    const username=document.querySelector('#username');
    const password=document.querySelector('#password');
    const flashMessage=document.querySelector('#login-error');
    

    if (username.value === "" || password.value===""){
        
        flashMessage.style.display='block';
        } 
    else{
        showLogOut();
        }
    }

$('#login_submit').on('click', logInputs);

</script>

{% block content %}




{%  endblock %}

</body>
<footer>  </footer>
</html>