{% extends 'base.html' %}

{% block content %}

<h1>{{username}}'s Dashboard</h1>


<h2>Tree hugs</h2>


<div id="hug" class="board"> 

    {% for hugs in tree_hugs %}
   
        <div id ="{{loop.index}}" class="hug-boxes" data-sci-name="{{hugs}}">{{hugs}}</div>
       
    {% endfor %}

</div>

<div id="information">
<h2>Tree Information</h2>
    <p id="dashInfo"></p>
</div>
<script>

    function updateDash(response) {
        const status = response;
        // console.log(status);
        $('#dashInfo').html(status.common_name);  
    }

   function getTreeInfo(evt){
        console.log(evt);
        const sci_name=$(evt.target).data('sciName');


        $.get('/dashinfo',{'getInfo':sci_name},updateDash);
     }
        
    $('.hug-boxes').on('click',getTreeInfo);
    
</script>
{%  endblock %}