{% extends 'base.html' %}

{% block content %}

<div id="flash" style="display:none">
   <div class="alert alert-primary" role="alert">
      No file selected 
  </div>
</div>

<div id="spin" style="display:none">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div id ="dropzone">
    <p>Drop image here</p>
</div>

<div>
    <form id="image-form" action="/upload" method="POST" enctype="multipart/form-data">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile"  name="upload" accept="image/*" required>
         <label class="custom-file-label" for="customFile" id="displayfile">Choose file</label>
           <br>
          <input type='submit' value='Submit' id='img_submit'>
      </div>
    </form>
</div>

<script>
  //function dropHandler(evt){
    //console.log('Files dropped');
      //Prevent file from automatically opening
      //evt.preventDefault();

    // what does this do??
    // evt.stopPropagation();

    // Use DataTransferItemList to access file
    // const droppedFiles = [];

    //evt.dataTransfer = evt.originalEvent.dataTransfer;
    //const file= evt.dataTransfer.items
    //if (file) {
      //for (let i = 0; i < file.length; i += 1) {
        //const item = file.items[i];

  //       // Check if item is a file

  //       if (item.kind === 'file') {
  //         const file = item.getAsFile();
  //         console.log(file)
  //         // droppedFiles.push(file);    
  //       }
  //     }
  //   }
  //   else {
  //     // Use Datatransfer interface to acces file
  //     for (let i = 0; i< evt.dataTransfer.files.length; i += 1){
  //       const file = evt.dataTransfer.files[i];
  //       console.log(`.....file['${i}'].name=${file.name}`);
  //       // droppedFiles.push(file);
  //     }
  //   }

  // }




function dropHandler(evt) {

  const inputFile=document.querySelector('#customFile');

  console.log('File(s) dropped');

  // Prevent default behavior (Prevent file from being opened)
  evt.preventDefault();
  console.log('evt....',evt);

  //set dataTransfer to browsers unmodified native event object
  // fixes console evt.dataTransfer undefined error
  evt.dataTransfer = evt.originalEvent.dataTransfer;

  console.log('evt.dataTransfer.items......', evt.dataTransfer);
  const files = evt.dataTransfer.files;

  console.log('file....',files);

  inputFile.files=files;
  //get file object
  //const getFile = file.getAsFile();

  //console.log('getFile.........',getFile); 

  // const data= new FormData();

  // data.append('file',getFile);

  // console.log('data........',data);
  // uploadData(data);

  //$.post('/upload',getFile[0],() => console.log('yay!'));  
}
    // $('#img_submit').off('click');

  // $('#img_submit').on('click', () => {
  //     $.post('/upload',data,() => console.log('yay!'));
  //   });
  //  }

  function dragOverHandler(evt) {
    console.log('file IN DROPZONE')
    // prevents default browser dragging
    evt.preventDefault();
    // evt.stopPropagation();
  }

  $('#dropzone').on('drop', dropHandler);
  $('#dropzone').on('dragover', dragOverHandler);
</script>


<script src="/static/js/homepage.js"></script>

{% endblock %}