{% extends 'base.html' %}


{% block content %}
<div id="login-error" style="display:none">
    <div class="alert alert-primary" role="alert" >
             User name or Password not entered. 
    </div>
</div>
<h1>Log in </h1>
<div>
<form action="/dashboard" method="POST" id="login_form">
    <label> user name <input type="text" name="username" id="username" required></label>
    <br>
    <label> password <input type="text" name="password" id="password" required></label>
    <br>
    <input type="submit" value="submit" id="login_submit">
</form>
</div>
<script> 

function logInputs(){
    const username=document.querySelector('#username');
    const password=document.querySelector('#password');
    const flashMessage=document.querySelector('#login-error');
    

    if (username.value === "" || password.value===""){
        
        flashMessage.style.display='block';
        } 
    }

$('#login_submit').on('click', logInputs);

</script>

{%  endblock %}